<launch>
  <master auto="start"/>

  <include file="$(find realsense2_camera)/launch/rs_camera.launch"/>
  <include file="$(find depthimage_to_laserscan)/launch/custom_launch.launch"/>

  <include file="$(find turtlebot3_bringup)/launch/turtlebot3_robot.launch"/>

  <!--node pkg="tf" type="static_transform_publisher" name="tf_1" args="0.1 0 0 0 0 0 odom base_link 0"/-->
  <node pkg="tf" type="static_transform_publisher" name="tf_2" args="0.1 0 0 0 0 0 base_footprint camera_link 0"/>
  <!--node pkg="tf" type="static_transform_publisher" name="tf_3" args="0.1 0 0 0 0 0 map base_link 0"/-->

  <node pkg="gmapping" name="slam_gmapping" type="slam_gmapping" output="screen">
    <param name="base_frame" value="base_footprint"/>
    <param name="odom_frame" value="odom"/>
    <param name="inverted_laser" value="true"/>
  </node>

 <include file="$(find turtlebot3_teleop)/launch/turtlebot3_teleop_key.launch"/>
</launch>
